<div>
    <h2>Zmiana hasła</h2>

    <div *ngIf="passwordChangeSuccess" class="success-card">
        <p>Hasło zostało zmienione!</p>
        <button (click)="redirectToAccount()">Powrót na stronę konta</button>
    </div>

    <form [formGroup]="passwordChangeForm" *ngIf="!passwordChangeSuccess">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="otherMessage" class="other-message">{{ otherMessage }}</div>
        <label for="currentPassword">Aktualne hasło:</label>
        <input type="password" id="currentPassword" formControlName="currentPassword" required>

        <label for="newPassword">Nowe hasło:</label>
        <input type="password" id="newPassword" formControlName="newPassword" required>

        <label for="confirmNewPassword">Potwierdź nowe hasło:</label>
        <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" required>

        <button type="button" (click)="changePassword()">Zmień hasło</button>
    </form>
</div>
