<div class="login-attempts">
    <div class="filter-options">
        <label>
            <input type="radio" name="status" [(ngModel)]="selectedStatus" [value]="ALL_OPTION"
                (change)="onRadioChange()"> All
        </label>
        <label>
            <input type="radio" name="status" [(ngModel)]="selectedStatus" [value]="SUCCESS_OPTION"
                (change)="onRadioChange()"> Successful
        </label>
        <label>
            <input type="radio" name="status" [(ngModel)]="selectedStatus" [value]="FAILURE_OPTION"
                (change)="onRadioChange()"> Failed
        </label>
        <button (click)="onRefreshClick()">Refresh</button>
    </div>

    <h3>Ostatnie próby logowania na konto</h3>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <table>
        <thead>
          <tr>
            <th>Data i godzina logowania</th>
            <th>Powodzenie logowania</th>
            <th>Urządzenie</th>
            <th>Adres IP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attempt of loginAttempts">
            <td>{{ attempt.timestamp | date: 'short' }}</td>
            <td>{{ attempt.type }}</td>
            <td>{{ attempt.device }}</td>
            <td>{{ attempt.ip }}</td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button [disabled]="currentPage <= 1" (click)="onPageChange(currentPage - 1)">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button [disabled]="currentPage >= totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
      </div>
</div>